<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />


    @*<link href="~/App_ClientResources/Libraries/DevExpress/Dashboard/dx.dashboard-control.bundle.css" rel="stylesheet" />
    <script src="~/App_ClientResources/Libraries/DevExpress/Dashboard/dx.dashboard-control.third-party.min.js"></script>

    <script src="~/App_ClientResources/App_Scripts/Main/Index/index_html2.main.js"></script>*@
    
    
    
    
    <link href="~/App_ClientResources/Libraries/DevExpress/Dashboard/dx.dashboard-control.bundle.light.css" rel="stylesheet" />
    <script src="~/App_ClientResources/Libraries/DevExpress/Dashboard/dx.dashboard-control.third-party.min.js"></script>
    <script src="~/App_ClientResources/Libraries/DevExpress/Dashboard/dx.dashboard-control.bundle.js"></script>
    @*<script src="~/App_ClientResources/Libraries/DevExpress/Dashboard/dx.dashboard-control.bundle.min.js"></script>*@
    @*<script src="~/App_ClientResources/Libraries/DevExpress/Dashboard.old/dx.dashboard-control.bundle.min.js"></script>*@
    @*<script src="~/App_ClientResources/Libraries/DevExpress/Dashboard.old/dx.dashboard-control.bundle.js"></script>*@
    <script src="~/App_ClientResources/App_Scripts/Main/Index/index_html2.main.js"></script>
</head>
<body>
    <div id="web-dashboard" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0">
    </div>
</body>
</html>
