@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <button id="btnEjemplo1">Ejemplito 1</button>
    
    <script src="~/App_ClientResources/Libraries/jquery/jquery.js"></script>
    <script src="~/App_ClientResources/Libraries/jquery-ui/jquery-ui.js"></script>
    
    <script src="~/App_ClientResources/App_Scripts/Main/Index/index_prueba.main.js"></script>
</body>
</html>